SERVER_PORT=8080

REDIS_URL=redis://default:password@redis.example.com:6379

KAFKA_SERVER=kafka.example.com:9093
KAFKA_GROUP_ID=vaultr-prod
KAFKA_CA_PEM=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----
KAFKA_SVC_PEM=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----\n-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----

DB_SHARD_0_URL=jdbc:mysql://db-shard-0.example.com:3306/vaultrshard1?sslMode=VERIFY_IDENTITY
DB_SHARD_0_USERNAME=vaultr_user
DB_SHARD_0_PASSWORD=change-me

DB_SHARD_1_URL=jdbc:mysql://db-shard-1.example.com:3306/vaultrshard2?sslMode=VERIFY_IDENTITY
DB_SHARD_1_USERNAME=vaultr_user
DB_SHARD_1_PASSWORD=change-me
