SERVER_PORT=8080

REDIS_URL=redis://default:password@redis.example.com:6379

KAFKA_SERVER=kafka.example.com:9093
KAFKA_GROUP_ID=vaultr-prod
KAFKA_CA_PEM=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----
KAFKA_SVC_PEM=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----\n-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----

SPRING_DATASOURCE_URL=jdbc:shardingsphere:absolutepath:/opt/vaultr/sharding.yml
